<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consumir API</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <h1 style="text-align: center; margin-top: 5px;">Consumir api de platos</h1>
    <div class="container">
      <form id="createForm" style="margin-top: 20px;">
        <h3>Agregar plato</h3>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Id</span>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"  id="id">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nombre</span>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"  id="name">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Calorias</span>
            <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1" id="calories">
        </div>
        <div class="input-group mb-3">
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="isVegetarian">
              <label class="form-check-label" for="isVegetarian">
                  Sí, es vegetariano
              </label>
          </div>
      </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Valor</span>
          <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1" id="value">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Comentraios</span>
          <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1" id="comments">
        </div>
        <input type="hidden" id="updateSuplierId">
        <button type="button" class="btn btn-primary" id="btnSend" style="margin-bottom: 20px;">Agregar plato</button>
    </form>
    <form id="searchForm" style="margin-top: 20px;">
      <h3>Buscar por ID</h3>
      <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon2">ID a buscar</span>
          <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon2"  id="searchId">
      </div>
      <button type="button" class="btn btn-primary" id="btnSearch" style="margin-bottom: 20px;">Buscar</button>
  </form>
      <div class="table-responsive">
        <h2 style="text-align: center; margin-top: 5px;">Platos de comida</h1>

          <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Calories</th>
                  <th scope="col">IsVegetarian</th>
                  <th scope="col">Value</th>
                  <th scope="col">Comments</th>
                  <th scope="col">Eliminar</th>
                </tr>
              </thead>
              <tbody id="tbody">
               
              </tbody>
      </table>
      </div>
    </div>
    
    <script src="script/script.js"></script>
</body>
</html>